<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
    <style>
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
        }
        h2 {
            font-size: 500px;
            margin:0;
            border:0;
        }
        p {
            font-size: 50px;
            margin-top: 0;
        }
    </style>
</head>
<body>
    <h1>Not found</h1>
    <h2>404</h2>
    <p>Sorry we can't find what you're looking for</p>
</body>
</html>